VITE_SUPABASE_URL=https://lpixwyudekesweinmnxm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwaXh3eXVkZWtlc3dlaW5tbnhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU3NjUyNDMsImV4cCI6MjA3MTM0MTI0M30.l-1f-RieE0xynaO21XZtYOjJG8tL-pQTZ3EUWuBKIw0